body{
    background: url(background-2426328.jpg) no-repeat center center fixed; 
    background-size: cover; 
    background-position: center;
    background-size: auto;
}

/*Directives CSS pour les ecrans intelligents*/
@media all and (min-width: 500px ){
    .connexion{
        width:500px;
        height: 280px;
        margin:auto;
        margin-top: 155px;
    }
    .area{
        width:80%;
        margin-left: 10%;
        margin-top: 8%;
    }
    input[type=button].login{
        width:80%;
        margin-left: 10%;
        margin-top: 10%;
        height: 35px;
        line-height: 35px;
        vertical-align: middle;
    }
}
/*Pour les resolutions superieures a 900px le comportement est le suivant*/
@media all and (min-width: 900px ){
    .connexion{
        width:700px;
        height: 380px;
        margin:auto;
        margin-top: 150px;
    }
    .area{
        width:40%;
        margin-left: 5%;
        margin-top: 15%;
        text-align: center;
    }
    input[type=button].login{
        width:30%;
        margin-left: 35%;
        margin-top: 15%;
        text-align: center;
    }
}

/*Les differents tag auxquels on applique le theme "glass" */
div.glass{
    position:relative;
    background-color: rgba(255,255,255,0.1);
    border-width: 5px;
    border-style: solid;
    border-left-color: rgba(255,255,255,0.05);
    border-right-color: rgba(255,255,255,0.1);
    border-top-color: rgba(255,255,255,0.07);
    border-bottom-color: rgba(255,255,255,0.2);
}
/*Comportement du theme "glass" spécialisé inputs*/
input.glass{
    height: 2em;
    line-height: 2em;
    vertical-align: bottom;
    background-color: rgba(255,255,255,0);
    border-width: 0;
    border-radius: 0;
    border-bottom: 2px solid rgba(255,255,255,0.15);
    color : rgba(255,255,255,0.7);
    transition: background-color 1s;
}
input.glass:hover{
    background-color: rgba(255,255,255,0.06);
}
input.glass:focus{
    outline: none;
}

/*Le bouton c'est encore different*/
input[type=button].glass{
    border: 2px solid rgba(255,255,255,0.15);
    color : rgba(255,255,255,0.15);
}
input[type=button].glass:hover{
    cursor: pointer;
}

/* Les deux petits liens en bas*/
a.glass{
    position:absolute;
    bottom: 1%;
    
    color: rgba(255,255,255,0.2);
    transition: color 0.5s;
}
a.right{
    right:2%;
}
a.left{
    left:2%;
}
a.glass:hover{    
    color: rgba(255,255,255,0.4);
}